*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url(images/photo-1515002246390-7bf7e8f87b54.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 95vh;
}

nav{
    border: 4px  rgb(43, 26, 14) solid;
     background-color: rgb(151, 112, 83);
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 27%;
    position: fixed;
    top: 0;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo p{
     font-size: 20px;
     color: white;
      font-weight: 600;
}

.logo i{
    font-size: 35px;
}

.navigation a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 600;
    padding: 10px 20px;
   
}

.navigation a:hover{
    color:rgb(43, 26, 14) ;
}

.navigation button{
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 600;
    padding: 10px 10px;
    margin-left: 15px;
}

.navigation button:hover{
    background-color: rgb(151, 112, 83);
    color: white;
    border: 1px  rgb(43, 26, 14) solid;
}

.heading{
    padding-top: 20%;
    line-height: 70px;

}

.heading h1{
    font-size: 60px;
    font-weight: 600;
    margin-left: 7%;
    

}

.heading p{
    font-size: 25px;
    margin-left: 13%;

}

.heading button{
    background-color: rgb(151, 112, 83);
    border: 1px solid black;
    color: black;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 600;
    padding: 12px 12px;
    margin-left: 15px;
    margin-left: 24%;
}


.heading button:hover{
    background-color: white;
    border: 1px  rgb(43, 26, 14) solid;
}

.maindiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a img{
    width: 120%;
    height: 86vh;
    
}

.b{
    line-height: 35px;
}

.b h2{
    font-size: 50px;
    font-weight: 600;
    
}

.b p{
    font-size: 18px;
    margin-top: 8%;
    
}

.b ul{
    margin-top: 10%;
    margin-left: 6%;
    padding-left: 14px;
}

.list{
    border: 1px solid red;
    border: none;
     background-color: #f4f7ff;
    border-radius: 2%;
    width: 75%;
    height: 35vh;
    margin-left: 5%;
    padding: 10px 10px;
}
